.memory-config__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .memory-button {
    font: inherit;
    color: inherit;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
    background-color: #FFFFFF;
    cursor: pointer;
  }
  
  .memory-button:hover {
    background-color: #F2F2F2;
  }
  .memory-button:active {
    border: 2px solid #A93A09;
  }
  
  .memory-button_selected {
    border: 2px solid #F36223;
  }