body {
  margin: 0;
  height: 100vh;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 14px;
  color: #888888;
  background: #F0F0F0;
  height: 100%;

}