* {
  box-sizing: border-box;
  margin: 0;
}

input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin: 0;
  background: #F8FAFE;
}

.container {
  max-width: 1500px;
  padding: 0 50px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #f8fafe;
  padding-top: 18px;
  padding-bottom: 9px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__actions {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.header__button-icon {
  border: none;
  background-color: transparent;
  position: relative;
  padding: 0;
  cursor: pointer;
}

.header__button-icon svg {
  fill: #F36223;
}

.header__button-icon svg:hover {
  fill: #DA4A0C;
}

.header__button-icon svg:active {
  fill: #A93A09;
}

.item-count {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px;
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #FFFFFF;
  background-color: #008CF0;
}

.header__logo {
  height: 43px;
}

.header__title {
  display: inline-block;
  font-size: 44px;
  line-height: 53px;
}

.carrot-text {
  color: #F36223;
}

a {
  color: #008CF0;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #F36223;
}

a:active {
  color: #A93A09;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  gap: 4px;
  margin-top: 80px;
}

.product-name {
  font-size: 32px;
  padding-bottom: 20px;
}

.product-images {
  display: flex;
  gap: 10px;
}

.product-images img {
  height: 387px;
}

.main__specifications-box {
  display: flex;
  gap: 100px;
  margin-top: 30px;
}

.all-specifications {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.color-option__name {
  font-size: 16px;
  margin-bottom: 15px;
}

.color-option__list {
  display: flex;
  gap: 10px;
}

.color-option__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

.color-option__btn:hover {
  background-color: #F2F2F2;
}

.color-option__btn:active {
  border: 2px solid #A93A09;
}

.color-option__btn_selected {
  border: 2px solid #F36223;
}

.color-image {
  height: 60px;
}

.memory-config__name {
  font-size: 16px;
  margin-bottom: 15px;
}

.memory-config__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.memory-button {
  font: inherit;
  color: inherit;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.memory-button:hover {
  background-color: #F2F2F2;
}
.memory-button:active {
  border: 2px solid #A93A09;
}

.memory-button_selected {
  border: 2px solid #F36223;
}

.product-properties__title {
  font-size: 16px;
  margin-bottom: 15px;
}

.product-properties__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
}

.product-properties__list li::before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #888;

}

.product-description__title {
  font-size: 16px;
  margin-bottom: 15px;
}

.product-description__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review-section__header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.review-section__title {
  font-size: 24px;
}

.review-section__count {
  font-size: 24px;
  font-weight: 700;
  color: #888888;
}

.review-button:hover {
  background-color: #F2F2F2;
}

.review-section__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.review {
  display: flex;
  gap: 30px;
}

.review__photo {
  height: 140px;
  border-radius: 50%;
}

.review__name {
  font-size: 20px;
}

.review__rating {
  margin-top: 10px;
  margin-bottom: 20px;
}

.review__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.separator {
  border-top: 1px dashed #888888;
  margin-left: 170px;
}

.add-review {
  padding-left: 170px;
}

.add-review__title {
  font-size: 16px;
  margin-bottom: 15px;
}

.add-review__box {
  margin-bottom: 100px;
}

.review-form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 40px;
}

.input-container {
  width: 100%;
  max-width: 495px;
  position: relative;
}

.input-container_rating {
  width: 175px;
}

.input[name="name"] {
  width: 100%;
}

.input[name="rating"] {
  width: 100%;
}

.input {
  background-color: transparent;
  padding: 15px 20px;
  border: 1px solid #888888;
}

.input:hover,
.input:focus {
  border-color: #000000;
}

.error {
  display: none;
  font-size: 12px;
  color: #FFFFFF;
  background: #DA4A0C;
  padding: 8px 20px;
  width: 100%;
  position: absolute;
}

.error-visible {
  display: block;
}

.input_textarea {
  width: 100%;
  height: 190px;
  resize: none;
}

.form-submit {
  color: #FFFFFF;
  padding: 10px 20px;
  background: #F36223;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-submit:active {
  background: #A93A09;
}

.form-submit:hover {
  background: #DA4A0C;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 420px;
  flex-shrink: 0;
  gap: 40px;
}

.purchase-info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.purchase-info__add-to-favorite {
  position: absolute;
  top: 20px;
  right: 20px;
}

.add-to-favorite {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
}

.add-to-favorite svg {
  stroke: #888888;
  fill: transparent;
}

.add-to-favorite svg:hover {
  stroke: #F36223;
}

.add-to-favorite svg:active {
  stroke: #A93A09;
}

.purchase-info__price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.purchase-info__old-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gray-text {
  color: #888888;
}

.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  color: #FFFFFF;
  background: #F36223;
  border-radius: 500px;
}

.purchase-info__new-price {
  font-size: 32px;
  font-weight: 500;
}

.purchase-info__delivery {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px;
  gap: 10px;
}

.cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 20px 10px;
  color: #FFFFFF;
  background: #F36223;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-button:hover {
  background: #DA4A0C;
}

.cart-button:active {
  background: #A93A09;
}

.cart-button::before {
  content: url("../Icons/cart.svg");
  height: 24px;
  width: 24px;
  margin-inline-end: 15px;
}

.ads {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.ads__title {
  font-size: 14px;
}

.ads__frames {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ads__iframe {
  border: 1px dashed #888888;
  height: 300px;
}

.comparison__title {
  font-size: 16px;
  margin-bottom: 15px;
}

.comparison__table {
  font-size: 15px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #888888;
}

.comparison__table-head th {
  border: 1px solid #888888;
  padding: 10px;
}

.comparison__table-row td {
  border-right: 1px solid #888888;
  padding: 10px;
}

.comparison__table-row:hover {
  background: #F2F2F2;
}

.footer {
  background: #F2F2F2;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.footer-content__copyright {
  font-size: 14px;
}

@media (max-width: 1499px) {
  .container {
    max-width: 1024px;
    padding: 0 15px;
  }

  .product-images img {
    height: 272px;
  }

  .main__specifications-box {
    gap: 40px;
  }

  .comparison {
    display: none;
  }

  .review-section__header {
    margin-top: 14px;
  }

  .review__photo {
    height: 100px;
  }

  .review__rating {
    height: 20px;
  }

  .separator {
    margin-left: 130px;
  }

  .add-review {
    padding: 0;
  }

  .input-container {
    max-width: 379px;
  }

  .sidebar {
    width: 360px;
  }

  .footer-content {
    padding: 30px 15px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 350px;
    padding: 0 10px;
  }

  .header {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .header__logo {
    height: 30px;
  }

  .header__title {
    font-size: 32px;
    line-height: 38px;
  }

  .header__actions {
    width: 70px;
  }

  .header__button-icon svg {
    height: 30px;
    width: 30px;
  }

  .item-count {
    font-size: 8px;
    line-height: 8px;
  }

  .breadcrumbs {
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 55px;
  }

  .product-name {
    font-size: 23px;
  }

  .product-images {
    overflow-x: scroll;
  }

  .main__specifications-box {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .color-option__list {
    flex-wrap: wrap;
    gap: 8px;
  }

  .color-option__btn {
    height: 59px;
    width: 59px;
  }

  .color-image {
    height: 50px;
  }

  .sidebar {
    width: 338px;
  }

  .purchase-info__old-price {
    font-size: 16px;
  }

  .purchase-info__delivery {
    font-size: 16px;
  }

  .cart-button {
    font-size: 16px;
  }

  .ads {
    display: none;
  }

  .review-section__header {
    margin-top: 10px;
  }

  .review-section__title {
    font-size: 20px;
  }

  .review-section__count {
    font-size: 20px;
  }

  .review-section__list {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 30px;
  }

  .separator {
    margin: 0;
  }

  .review {
    gap: 15px;
  }

  .review__photo {
    height: 60px;
  }

  .review__rating {
    margin-bottom: 15px;
  }

  .review-form {
    gap: 15px 0;
  }

  .input-container_rating {
    width: 335px;
  }

  .form-submit {
    font-size: 14px;
  }

  .add-review__box {
    margin-bottom: 40px;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px;
  }

  .footer-content__copyright {
    margin-bottom: 20px;
  }
}