.color-option__list {
    display: flex;
    gap: 10px;
  }
  
  .color-option__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .color-option__btn:hover {
    background-color: #F2F2F2;
  }
  
  .color-option__btn:active {
    border: 2px solid #A93A09;
  }
  
  .color-option__btn_selected {
    border: 2px solid #F36223;
  }
  
  .color-image {
    height: 60px;
  }