.footer {
    background: #F2F2F2;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
  }
  
  .footer-content__copyright {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
  }