.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #f8fafe;
    padding-top: 18px;
    padding-bottom: 9px;
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__actions {
    display: flex;
    justify-content: space-between;
    width: 120px;
  }
  
  .header__button-icon {
    border: none;
    background-color: transparent;
    position: relative;
    padding: 0;
    cursor: pointer;
  }
  
  .header__button-icon svg {
    fill: #F36223;
  }
  
  .header__button-icon svg:hover {
    fill: #DA4A0C;
  }
  
  .header__button-icon svg:active {
    fill: #A93A09;
  }
  
  .item-count {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    padding: 3px 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #008CF0;
  }
  
  .header__logo {
    height: 43px;
  }
  
  .header__title {
    display: inline-block;
    font-size: 44px;
    line-height: 53px;
    margin-left: 7px;
  }