* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    background: #F8FAFE;
  }
  
  .container {
    max-width: 1500px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
  }

  .text {
    max-width: 453px;
    text-align: center;
  }

  .carrot-text {
    color: #F36223;
  }
  
  a {
    color: #008CF0;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:hover {
    color: #F36223;
  }
  
  a:active {
    color: #A93A09;
  }

  .header {
    width: 100%;
    background-color: #f8fafe;
    padding-top: 18px;
    padding-bottom: 9px;
  }
  
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__actions {
    display: flex;
    justify-content: space-between;
    width: 120px;
  }
  
  .header__button-icon {
    border: none;
    background-color: transparent;
    position: relative;
    padding: 0;
    cursor: pointer;
  }
  
  .header__button-icon svg {
    fill: #F36223;
  }
  
  .header__button-icon svg:hover {
    fill: #DA4A0C;
  }
  
  .header__button-icon svg:active {
    fill: #A93A09;
  }
  
  .item-count {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    padding: 3px 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #008CF0;
  }
  
  .header__logo {
    height: 43px;
  }
  
  .header__title {
    display: inline-block;
    font-size: 44px;
    line-height: 53px;
    margin-left: 7px;
  }

  .footer {
    background: #F2F2F2;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
  }
  
  .footer-content__copyright {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: 1499px) {
    .container {
      max-width: 1024px;
      padding: 0 15px;
    }
  
    .footer-content {
      padding: 30px 15px;
    }

    .footer-content__copyright {
      margin: 0;
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 14px;
    }
  
    .container {
      max-width: 350px;
      padding: 0 10px;
    }
  
    .header {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  
    .header__logo {
      height: 30px;
    }
  
    .header__title {
      font-size: 32px;
      line-height: 38px;
    }
  
    .header__actions {
      width: 70px;
    }
  
    .header__button-icon svg {
      height: 30px;
      width: 30px;
    }
  
    .item-count {
      font-size: 8px;
      line-height: 8px;
    }
  
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 10px;
    }
  
    .footer-content__copyright {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }