* {
    box-sizing: border-box;
    margin: 0;
  }
  
  input,
  textarea {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
    background: #F8FAFE;
  }
  
  .container {
    max-width: 1500px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .carrot-text {
    color: #F36223;
  }
  
  a {
    color: #008CF0;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:hover {
    color: #F36223;
  }
  
  a:active {
    color: #A93A09;
  }

  .main-link {
    color: inherit;
  }

  .main-link:hover {
    color: inherit;
  }

  .main-link:active {
    color: inherit;
  }

@media (max-width: 1499px) {
    .container {
      max-width: 1024px;
      padding: 0 15px;
    }
  
    .product-images img {
      height: 272px;
    }
  
    .main__specifications-box {
      gap: 40px;
    }
  
    .comparison {
      display: none;
    }
  
    .review-section__header {
      margin-top: 14px;
    }
  
    .review__photo {
      height: 100px;
    }
  
    .review__rating {
      height: 20px;
    }
  
    .separator {
      margin-left: 130px;
    }
  
    .add-review {
      padding: 0;
    }
  
    .input-container {
      max-width: 379px;
    }
  
    .sidebar {
      width: 360px;
    }
  
    .footer-content {
      padding: 30px 15px;
    }

    .footer-content__copyright {
      margin: 0;
    }
  }
  
  @media (max-width: 480px) {
    body {
      font-size: 14px;
    }
  
    .container {
      max-width: 350px;
      padding: 0 10px;
    }
  
    .header {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  
    .header__logo {
      height: 30px;
    }
  
    .header__title {
      font-size: 32px;
      line-height: 38px;
    }
  
    .header__actions {
      width: 70px;
    }
  
    .header__button-icon svg {
      height: 30px;
      width: 30px;
    }
  
    .item-count {
      font-size: 8px;
      line-height: 8px;
    }
  
    .breadcrumbs {
      flex-wrap: wrap;
      font-size: 14px;
      margin-top: 55px;
    }
  
    .product-name {
      font-size: 23px;
    }
  
    .product-images {
      overflow-x: scroll;
    }
  
    .main__specifications-box {
      flex-direction: column-reverse;
      gap: 30px;
    }
  
    .color-option__list {
      flex-wrap: wrap;
      gap: 8px;
    }
  
    .color-option__btn {
      height: 59px;
      width: 59px;
    }
  
    .color-image {
      height: 50px;
    }
  
    .sidebar {
      width: 338px;
    }
  
    .purchase-info__old-price {
      font-size: 16px;
    }
  
    .purchase-info__delivery {
      font-size: 16px;
    }
  
    .cart-button {
      font-size: 16px;
    }
  
    .ads {
      display: none;
    }
  
    .review-section__header {
      margin-top: 10px;
    }
  
    .review-section__title {
      font-size: 20px;
    }
  
    .review-section__count {
      font-size: 20px;
    }
  
    .review-section__list {
      margin-top: 10px;
      margin-bottom: 10px;
      gap: 30px;
    }
  
    .separator {
      margin: 0;
    }
  
    .review {
      gap: 15px;
    }
  
    .review__photo {
      height: 60px;
    }
  
    .review__rating {
      margin-bottom: 15px;
    }
  
    .review-form {
      gap: 15px 0;
    }
  
    .input-container_rating {
      width: 335px;
    }
  
    .form-submit {
      font-size: 14px;
    }
  
    .add-review__box {
      margin-bottom: 40px;
    }
  
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 10px;
    }
  
    .footer-content__copyright {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }