.review-form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 40px;
  }
  
  .input-container {
    width: 100%;
    max-width: 495px;
    position: relative;
  }
  
  .input-container_rating {
    width: 175px;
  }
  
  .input[name="name"] {
    width: 100%;
  }
  
  .input[name="rating"] {
    width: 100%;
  }
  
  .input {
    background-color: transparent;
    padding: 15px 20px;
    border: 1px solid #888888;
  }
  
  .input:hover,
  .input:focus {
    border-color: #000000;
  }
  
  .error {
    display: none;
    font-size: 12px;
    color: #FFFFFF;
    background: #DA4A0C;
    padding: 8px 20px;
    width: 100%;
    position: absolute;
  }
  
  .error-visible {
    display: block;
  }
  
  .input_textarea {
    width: 100%;
    height: 190px;
    resize: none;
  }
  
  .form-submit {
    color: #FFFFFF;
    padding: 10px 20px;
    background: #F36223;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-submit:active {
    background: #A93A09;
  }
  
  .form-submit:hover {
    background: #DA4A0C;
  }