.breadcrumbs {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
    margin-top: 80px;
  }
  
  .product-name {
    font-size: 32px;
    padding-bottom: 20px;
  }
  
  .product-images {
    display: flex;
    gap: 10px;
  }
  
  .product-images img {
    height: 387px;
  }
  
  .main__specifications-box {
    display: flex;
    gap: 100px;
    margin-top: 30px;
  }
  
  .all-specifications {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .color-option__name {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .memory-config__name {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .product-properties__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .product-properties__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
  }
  
  .product-properties__list li::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #888;
  
  }
  
  .product-description__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .product-description__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .review-section__header {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .review-section__title {
    font-size: 24px;
  }
  
  .review-section__count {
    font-size: 24px;
    font-weight: 700;
    color: #888888;
  }
  
  .review-button:hover {
    background-color: #F2F2F2;
  }
  
  .review-section__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  
  .review {
    display: flex;
    gap: 30px;
  }
  
  .review__photo {
    height: 140px;
    border-radius: 50%;
  }
  
  .review__name {
    font-size: 20px;
  }
  
  .review__rating {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .review__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .separator {
    border-top: 1px dashed #888888;
    margin-left: 170px;
  }
  
  .add-review {
    padding-left: 170px;
  }
  
  .add-review__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .add-review__box {
    margin-bottom: 100px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 420px;
    flex-shrink: 0;
    gap: 40px;
  }
  
  .purchase-info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .purchase-info__add-to-favorite {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .add-to-favorite {
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
  }
  
  .add-to-favorite svg {
    stroke: #888888;
    fill: transparent;
  }
  
  .add-to-favorite svg:hover {
    stroke: #F36223;
  }
  
  .add-to-favorite svg:active {
    stroke: #A93A09;
  }
  
  .purchase-info__price {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .purchase-info__old-price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .gray-text {
    color: #888888;
  }
  
  .discount {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    color: #FFFFFF;
    background: #F36223;
    border-radius: 500px;
  }
  
  .purchase-info__new-price {
    font-size: 32px;
    font-weight: 500;
  }
  
  .purchase-info__delivery {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px;
    gap: 10px;
  }
  
  .cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px 10px;
    color: #FFFFFF;
    background: #F36223;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cart-button:hover {
    background: #DA4A0C;
  }
  
  .cart-button:active {
    background: #A93A09;
  }
  
  .cart-button::before {
    content: url("./cart.svg");
    height: 24px;
    width: 24px;
    margin-inline-end: 15px;
  }
  
  .ads {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .ads__title {
    font-size: 14px;
  }
  
  .ads__frames {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .ads__iframe {
    border: 1px dashed #888888;
    height: 300px;
  }
  
  .comparison__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .comparison__table {
    font-size: 15px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #888888;
  }
  
  .comparison__table-head th {
    border: 1px solid #888888;
    padding: 10px;
  }
  
  .comparison__table-row td {
    border-right: 1px solid #888888;
    padding: 10px;
  }
  
  .comparison__table-row:hover {
    background: #F2F2F2;
  }